@using VFeeD.Models
@model LoginViewModel
<h2>@ViewBag.Title.</h2>
<body style="background:url('../Images1/cover2.jpg');background-size:cover!important ">


    <div style="margin-left:0px; margin-right: 10%;">
        <div class="row">

            <div class="col-md-offset-11 col-md-6">
                <div class="login-box" style="background-color:rgba(0,0,0,0.7);border:1px solid;border-radius:2px;margin:0 0 10px;padding:10px 0;-webkit-box-align:stretch;width:50%;align-items:stretch;box-sizing:border-box;display:flex;flex-direction:column;flex-shrink:0;position:absolute;font-size:100%">
                    <section id="loginForm">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h4 style="color:#eee;font-size:large;">Log in.</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-1">
                                        @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10">
                                        @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10" style="color:#eee">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-3 col-md-12">
                                        <input type="submit" value="Log in" class="btn btn-success" />
                                    </div>
                                </div>
                                <div class="col-md-offset-1">
                                    <p>
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p>
                                </div>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                        }
                    </section>
                </div>
            </div>
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide" data-interval="5000" data-ride="carousel" style="height: 300px;width:85%;background-color:rgba(0,0,0,0.7)">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                        <li data-target="#myCarousel" data-slide-to="4"></li>
                        <li data-target="#myCarousel" data-slide-to="5"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>Respect for Food !!</h2>
                            <p>Respect for food is a respect for life for who we are and what we do !!</p>
                            <br />
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">More Details</a></p>
                        </div>
                        <div class="item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>Love & Food !!</h2>
                            <p>Love and Food are meant for sharing not for wasting !!</p>
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">User Stories</a></p>
                        </div>
                        <div class="item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>Mother Theresa !!</h2>
                            <p>If you cant feed a hundred people, then feed just one. !!</p>
                            <br />
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">Manager Comments</a></p>
                        </div>
                        <div class="item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>No Enough Food ?</h2>
                            <p>
                                There is food for everyone on this planet, but not everyone eats !!
                            </p>
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">Let Me Try !!</a></p>
                        </div>
                        <div class="item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>Hunger Deaths !!</h2>
                            <p>Hunger kills more people each year than AIDS, malaria and tuberculosis combined. !!</p>
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">Try It !!</a></p>
                        </div>
                        <div class="item" style="margin-left: 15%; margin-right: 15%;color:#eee">
                            <h2>Poor Children !!</h2>
                            <p>Poor nutrition causes nearly half (45%) of deaths in children under five – 3.1 million children each year. !!</p>
                            <br />
                            <p style="text-align: right"><a class="btn btn-primary">Check Out Snaps!!</a></p>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="carousel-control right" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right "></span>
                    </a>
                </div>
            </div>

        </div>
        <div class"empty-space" style="margin-top:150px"></div>
        <div class="btn-group btn-group-justified" style="margin-left:2%;margin-right:2%;">
            <div class="panel panel-primary" style="width: 30%; height: 170px; margin-top: 3%; margin-right: 20px; float: left;">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">Our Mission</h3>
                </div>
                <div class="panel-body">
                    Provide food for everyone !.
                </div>
            </div>

            <div class="panel panel-primary" style="width: 30%; height: 170px; margin-top: 3%; margin-right: 20px; float: left;">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">About us</h3>
                </div>
                <div class="panel-body">
                    Students at Villanova !!.
                </div>
            </div>
            <div class="panel panel-primary" style="width: 30%; height: 170px; margin-top: 3%; float: left;">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">Purpose</h3>
                </div>
                <div class="panel-body">
                    Eradicate hunger deaths!!.
                </div>
            </div>
        </div>

    </div>
</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/Login.js")
    @Scripts.Render("~/Scripts/angular.min.js")
}
