@using VFeeD.Models

@model LoginViewModel
<h2>@ViewBag.Title</h2>
<head>
    <script src="~/Scripts/TypingText.js"></script>
</head>

<body style="background:url('../Images1/login.jpg');background-size:cover!important ">



    <div class="row">
        <div class="col-md-9" style="background-color:rgba(0,0,0,0.70); color:white; padding:5px; margin-top: 60px;">

            <h1 id="example1" style="font-size:large"> Every 3.6 seconds a person dies of hunger and sadly <strong>75% </strong> of them are children. . .</h1>
            <h1 id="example2" style="font-size:large"> An estimated <strong>25 – 40% </strong> of food grown, processed and transported in the US will never be consumed. . .</h1>

        </div>

        <script type="text/javascript">
            //Define first typing example:
            new TypingText(document.getElementById("example1"), 50, function (i) { var ar = new Array("\\", "|", "/", "-"); return " " + ar[i.length % ar.length]; });

            //Define second typing example (use "slashing" cursor at the end):
            new TypingText(document.getElementById("example2"), 80, function (i) { var ar = new Array("\\", "|", "/", "-"); return " " + ar[i.length % ar.length]; });

            //Type out examples:
            TypingText.runAll();
        </script>
        <div class="col-md-3">
            <div class="login-box" style="background-color:rgba(0,0,0,0.7);border:1px solid;border-radius:2px;margin:0 0 10px;padding:10px 0;-webkit-box-align:stretch;align-items:stretch;box-sizing:border-box;display:flex;flex-direction:column;flex-shrink:0;position:static;font-size:100%">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="col-md-offset-4">
                        <h4 style="color:#eee;font-size:large;"> Log In</h4>
                         </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                            <div class="form-group">
                                <div class="col-md-offset-1 col-md-10">
                                    @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                                <div class="form-group">
                                    <div class="col-md-offset-1 col-md-10" style="color:#eee">
                                        <div class="checkbox">
                                            @Html.CheckBoxFor(m => m.RememberMe)
                                            @Html.LabelFor(m => m.RememberMe)
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-12">
                                        <input type="submit" value="Login" class="btn btn-success" />
                                    </div>
                                </div>
                                <div class="col-md-offset-1">
                                    <p>
                                        @Html.ActionLink("Register as a new user", "Register")
                                    </p>
                                </div>
                                @* Enable this once you have account confirmation enabled for password reset functionality
                                    <p>
                                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                    </p>*@
                    }
                </section>
            </div>
        </div>

    </div>

    <div class"empty-space" style="margin-top:150px"></div>
    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">Our Mission</h3>
                </div>
                <div class="panel-body">
                    VFeed's objective is to reduce serious problem of food wastage and eradicate hunger deaths.

                    <div class"empty-space" style="margin-top:20px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">About Us</h3>
                </div>
                <div class="panel-body">
                    VFeed is a non-profit organization based in Philadelphia. The organization is focussed mainly on donating excess food from stores.
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="background-color:rgba(126,98,173,1)">
                    <h3 class="panel-title">Contact Us</h3>
                </div>
                <div class="panel-body">
                    nnelaval@villanova.edu<br>
                    hethapu@villanova.edu<br>
                    spakanat@villanova.edu 
                </div>
            </div>
        </div>
    </div>

</body>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app/Login.js")
    @Scripts.Render("~/Scripts/angular.min.js")
}