@model VFeeD.Models.RegisterViewModel
@{
    ViewBag.Title = "Sign Up";
}

<h2>@ViewBag.Title</h2>
<html>
<body style="background:url('../Images1/login.jpg');background-size:cover!important ">

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    @section scripts{
        <script type="text/javascript">
            $("#Isdonor").click(function () {
                if ($("#Isdonor").is(':checked')) {
                    $('#StoreName').show();
                    $('#StoreZipcode').show();
                    $('input[name="Sname"]').prop('required', true);
                    $('input[name="Szip"]').prop('required', true);
                    $('input[name="Szip"]').val("");
                } else {
                    $('#StoreName').hide();
                    $('#StoreZipcode').hide();
                    $('input[name="Sname"]').prop('required', false);
                    $('input[name="Szip"]').prop('required', false);
                    $('input[name="Szip"').val(0);
                    $('input[name="Sname"]').val("");
                }
            });
        </script>}



    <div class"empty-space" style="margin-top:50px"></div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-lg-8 col-md-offset-4">
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">

                    @Html.TextBoxFor(m => m.Fname, new { placeholder = Html.DisplayNameFor(n => n.Fname), @class = "form-control" })

                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Lname, new { placeholder = Html.DisplayNameFor(n => n.Lname), @class = "form-control" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { placeholder = Html.DisplayNameFor(n => n.Email), @class = "form-control" })
                </div>
            </div>


            <div class="form-group">

                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Zipcode, new { placeholder = Html.DisplayNameFor(n => n.Zipcode), @class = "form-control", @type = "number", @min = "0" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { placeholder = Html.DisplayNameFor(n => n.Password), @class = "form-control" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = Html.DisplayNameFor(n => n.ConfirmPassword), @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10" id="box1">
                    @Html.CheckBoxFor(m => m.Isdonor)
                    @Html.LabelFor(m => m.Isdonor)
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10" id="StoreName" hidden>
                    @Html.TextBoxFor(m => m.Sname, new { placeholder = Html.DisplayNameFor(n => n.Sname), @class = "form-control" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-10" id="StoreZipcode" hidden>
                    @Html.TextBoxFor(m => m.Szip, new { placeholder = Html.DisplayNameFor(n => n.Szip), @class = "form-control", @Value = 0 })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-1 col-lg-10">
                    <input type="submit" class="btn btn-default" value="Sign Up" style="width:160px;color:#f5861f; border: 1px solid rgba(245, 134, 31, .5); box-shadow: 0 2px 3px rgba                    (204, 204, 204, .32)" />
                </div>
            </div>
        </div>

        <hr style="color:red;display:block;height:2px;border-top:2px solid" />

    }
</body>
</html>
